{% extends 'blog/base.html' %}

{% block content %}
    <style>
        .blue-text {
            color: blue;
        }

        .red-text {
            color: red;
        }
        .security-block {
        border: 1px solid #ccc;
        padding: 10px;
        }
        .advantage-column {
        border: 1px solid #ccc;
        padding: 10px;
        }
        .score-block {
        border: 1px solid #ccc;
        padding: 10px;
        }
    </style>
<div style="padding: 20px;">
    <li><a href="{% url 'company_ratings' %}" {% if request.resolver_match.url_name == 'company_ratings' %}class="active"{% endif %}>&larr; Invest</a></li>
    <h1>{{ company.name }}</h1>
    <p>Category: {{ company.category }}</p>
    <p>Rating: {{ company.rating }}</p>

    <div class="advantages-container">
        <div class="advantage-column">

 <div class="security-block">
    <h2>Security</h2>

    <table class="criteria-table">
        <tr>
            <td><b>Asset secured</b></td>
            <td><b>Emission limit</b></td>
            <td><b>Liquidity</b></td>
            <td><div class="score-block"><b>SCORE</b></div></td>

        </tr>
        <tr>
            <td>{{ security_scores.asset_secured_score }}</td>
            <td>{{ security_scores.emission_limit_score }}</td>
            <td>{{ security_scores.liquidity_score }}</td>
            <td><b>{{ security_scores.total_score }}</b><td>
        </tr>
    </table>
</div>

  <table>
    {% for advantage in security_advantages %}
        <form method="POST" action="{% url 'increment_advantage' advantage_id=advantage.id %}">
          {% csrf_token %}
          <tr>
            <td style="padding: 10px;">
                {{ advantage.advantage }}
            </td>
            <td style="padding: 10px;">
                <span class="{% if advantage.mark %}blue-text{% else %}red-text{% endif %}">
                   {{ advantage.count }}%
                </span>
            </td>
            <td style="padding: 10px;">
                <input value="+" type="submit">
            </td>
          </tr>
        </form>
  {% empty %}
    <tr>
      <td colspan="3">No advantages</td>
    </tr>
  {% endfor %}
</table>

            <form method="post" action="{% url 'add_advantage' company.id %}">
                {% csrf_token %}
                <input type="hidden" name="position" value="1">
                <input name="advantage" required>
                <select name="mark" required>
                    <option value="positive">Advantage</option>
                    <option value="negative">Disadvantage</option>
                </select>
                <input type="submit" value="Add">
            </form>
        </div>

        <div class="advantage-column">

<div class="security-block">
    <h2>Team</h2>

    <table class="criteria-table">
        <tr>
            <td><b>Decentralized</b></td>
            <td><b>Performace</b></td>
            <td><div class="score-block"><b>SCORE</b></div></td>
        </tr>
        <tr>
            <td>{{ team_scores.decentralized_score }}</td>
            <td>{{ team_scores.performace_score }}</td>
            <td><b>{{ team_scores.total_score }}</b></td>
        </tr>
    </table>
</div>

            <table>
                {% for advantage in team_advantages %}
                    <form method="POST" action="{% url 'increment_advantage' advantage_id=advantage.id %}">
                        {% csrf_token %}
                        <tr>
                            <td style="padding: 10px;">
                            {{ advantage.advantage }}
                        </td>
                        <td style="padding: 10px;">
                            <span class="{% if advantage.mark %}blue-text{% else %}red-text{% endif %}">
                                {{ advantage.count }}%
                            </span>
                        </td>
                        <td style="padding: 10px;">
                            <input value="+" type="submit">
                        </td>
                    </tr>
                    </form>
                {% empty %}
                <tr>
                  <td colspan="3">No advantages</td>
                </tr>
              {% endfor %}
            </table>
            <form method="post" action="{% url 'add_advantage' company.id %}">
                {% csrf_token %}
                <input type="hidden" name="position" value="2">
                <input name="advantage" required></input>
                <select name="mark" required>
                    <option value="positive">Advantage</option>
                    <option value="negative">Disadvantage</option>
                </select>
                <input type="submit" value="Add">
            </form>
        </div>

        <div class="advantage-column">

<div class="security-block">
    <h2>Product</h2>

    <table class="criteria-table">
        <tr>
            <td><b>Performace</b></td>
            <td><b>APY 1yr</b></td>
            <td><b>APY 5yr</b></td>
            <td><div class="score-block"><b>SCORE</b></div></td>
        </tr>
        <tr>
            <td>{{ product_scores.performace_score }}</td>
            <td>{{ product_scores.apy_1yr_score }}</td>
            <td>{{ product_scores.apy_5yr_score }}</td>
            <td><b>{{ product_scores.total_score }}</b></td>
        </tr>
    </table>
</div>

            <table>
                {% for advantage in product_advantages %}
                    <form method="POST" action="{% url 'increment_advantage' advantage_id=advantage.id %}">
                        {% csrf_token %}
                        <tr>
                            <td style="padding: 10px;">
                                {{ advantage.advantage }}
                            </td>
                            <td style="padding: 10px;">
                                <span class="{% if advantage.mark %}blue-text{% else %}red-text{% endif %}">
                                    ({{ advantage.count }}%)
                                </span>
                            </td>
                            <td style="padding: 10px;">
                                <input value="+" type="submit">
                            </td>
                        </tr>
                        </form>
                {% empty %}
                <tr>
                  <td colspan="3">No advantages</td>
                </tr>
              {% endfor %}
            </table>
            <form method="post" action="{% url 'add_advantage' company.id %}">
                {% csrf_token %}
                <input type="hidden" name="position" value="3">
                <input name="advantage" required>
                <select name="mark" required>
                    <option value="positive">Advantage</option>
                    <option value="negative">Disadvantage</option>
                </select>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>

    <br>
    <center>
        <h2>Reviews &rarr; {{ company.name }}</h2><br>
        {% for review in reviews %}
            <p>Name: {{ review.name }}</p>
            <p>Date: {{ review.date }}</p>
            <p>Review: {{ review.comment }}</p>
            <p>Type: {% if review.rating == True %}<span class="blue-text">Positive</span>{% else %}<span class="red-text">Negative</span>{% endif %}</p>
        {% empty %}
            <p>No reviews</p>
        {% endfor %}

        <br><br><h2>Your feedback about {{ company.name }}</h2><br>
        <form method="post" action="{% url 'company_detail' company_id=company.id %}">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required><br><br>

            <label for="comment">A comment:</label>
            <textarea name="comment" id="comment" required></textarea><br><br>

            <label for="rating">My opinion:</label>
            <select name="rating" id="rating" required>
                <option value="positive">Positive</option>
                <option value="negative">Negative</option>
            </select><br><br>

            <button type="submit">Leave feedback</button>
        </form><br><br>
    </center>
</div>
{% endblock %}