{% extends 'blog/base.html' %}

{% block content %}

    <h1>{{ company.name }}</h1>
    <p>Category: {{ company.category }}</p>
    <p>Rating: {{ company.rating }}</p>

    <div class="advantages-container">
        <div class="advantage-column">
            <h2>Security</h2>
            <ul>
                {% for advantage in company.advantages.all %}
                    {% if advantage.position == 1 %}
                        <form method="POST" action="{% url 'increment_advantage' advantage_id=advantage.id %}">
                            {% csrf_token %}
                        <li>{{ advantage.advantage }} | {{ advantage.count }}
                            <input value="+" type="submit"></li>
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'add_advantage' company.id %}">
                {% csrf_token %}
                <input type="hidden" name="position" value="1">
                <input name="advantage" required></input>
                <select name="mark" required>
                    <option value="positive">+</option>
                    <option value="negative">-</option>
                </select>
                <button type="submit">Add Advantage</button>
            </form>
        </div>

        <div class="advantage-column">
            <h2>Team</h2>
            <ul>
                {% for advantage in company.advantages.all %}
                    {% if advantage.position == 2 %}
                        <form method="POST" action="{% url 'increment_advantage' advantage_id=advantage.id %}">
                            {% csrf_token %}
                        <li>{{ advantage.advantage }} | {{ advantage.count }}
                            <input value="+" type="submit"></li>
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'add_advantage' company.id %}">
                {% csrf_token %}
                <input type="hidden" name="position" value="2">
                <input name="advantage" required></input>
                <select name="mark" required>
                    <option value="positive">+</option>
                    <option value="negative">-</option>
                </select>
                <button type="submit">Add Advantage</button>
            </form>
        </div>

        <div class="advantage-column">
            <h2>Product</h2>
            <ul>
                {% for advantage in company.advantages.all %}
                    {% if advantage.position == 3 %}
                        <form method="POST" action="{% url 'increment_advantage' advantage_id=advantage.id %}">
                            {% csrf_token %}
                        <li>{{ advantage.advantage }} | {{ advantage.count }}
                            <input value="+" type="submit"></li>
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'add_advantage' company.id %}">
                {% csrf_token %}
                <input type="hidden" name="position" value="3">
                <input name="advantage" required></input>
                <select name="mark" required>
                    <option value="positive">+</option>
                    <option value="negative">-</option>
                </select>
                <button type="submit">Add Advantage</button>
            </form>
        </div>
    </div>

<br><br><br><br>
<center>
<h2>Отзывы</h2>
{% for review in reviews %}
    <p>Имя: {{ review.name }}</p>
    <p>Дата: {{ review.date }}</p>
    <p>Отзыв: {{ review.comment }}</p>
    <p>Отзыв: {{ review.rating }}</p>
{% empty %}
    <p>Пока нет отзывов</p>
{% endfor %}

<h2>Оставить отзыв</h2>
<form method="post" action="{% url 'company_detail' company_id=company.id %}">
    {% csrf_token %}
    <label for="name">Имя:</label>
    <input type="text" name="name" id="name" required><br><br>

    <label for="rating">Оценка:</label>
    <select name="rating" id="rating" required>
        <option value="positive">Положительная</option>
        <option value="negative">Отрицательная</option>
    </select><br><br>

    <label for="comment">Комментарий:</label>
    <textarea name="comment" id="comment" required></textarea><br><br>

    <button type="submit">Отправить</button>
</form>
</center>
{% endblock %}
